.history{
    text-align: center;
    font-size: 50px;
    margin: 40px;
    color: $black-color;
    }
    .historia-andes{
        font-size: 25px;
        padding-top: 25px;
    }
    #grilla{
     padding-left: 50px;
    }
.fabricaImg img{
    box-shadow: 0px 0px 10px $primary-color;
    border-radius: 10px;
}
.hotelImg img{
    box-shadow: 0px 0px 10px $primary-color;
    border-radius: 10px;
}
