.entry-tittle{
    font-size: 50px;
    text-align: center;
    margin: 40px;
    color: $black-color;
}
#card{
 display: grid;
 justify-items: center;
 gap: 40px;
 grid-template-columns:  1fr 1fr  ;
 grid-template-rows:  1fr 1fr ;
 grid-template-areas: "ipa negra"
                      "roja rubia"                        
}
.card{
    background-color: $color;
    border-radius: 0.3rem;
}
.btn-primary{
    color: $black-color;
    background-color: $green-color;
    border-color: $black-color;
}

@media screen and (max-width: 500px){
    #card {
        grid-template-columns:  1fr  ;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "ipa"
                             "negra"
                             "roja" 
                             "rubia"                  
       }
}