$color: rgb(100, 100, 100);
$primary-color: red;
$secondary-color: blue;
$gray-color: gray;
$black-color: black;
$white-color: white;
$green-color: #068822;
$ancho: 400px;
$tipografia: azul; 
$i:1;
$dimension:200px;





