@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans+Narrow&family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans+Narrow&family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
      grid-template-columns: 1fr;
      grid-template-rows: 200px 30fr 250px;
      grid-template-areas: "header" "main" "footer";
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#etiqueta {
  font-size: 30px;
  color: black;
  text-align: center;
  padding: 80px;
  margin: 100px;
  border: solid black;
  background-color: #6b4747;
}

#galeria {
  margin-top: 100px;
  padding-left: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "img1 img2" "img3 img4";
}

#galeria img {
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0px 0px 10px red;
          box-shadow: 0px 0px 10px red;
  border-radius: 10px;
}

.descripcion {
  font-size: 15px;
  margin-top: 50px;
}

figure {
  max-width: 100%;
}

.redesFooter {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}

@media screen and (max-width: 950px) {
  #galeria {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "img1 img2" "img3 img4";
    gap: 30px;
  }
}

/*mobile*/
@media screen and (max-width: 500px) {
  #galeria {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "img1" "img2" "img3"  "img4";
  }
}

header {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #646464;
}

nav ul li {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Roboto Flex', sans-serif;
  margin-bottom: 10px;
}

ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

ul a {
  font-size: 30px;
  color: black;
  text-decoration: none;
  font: bold;
}

nav {
  background-color: #646464;
  z-index: 1;
}

.entry-tittle {
  font-size: 50px;
  text-align: center;
  margin: 40px;
  color: black;
}

#card {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 40px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "ipa negra" "roja rubia";
}

.card {
  background-color: #646464;
  border-radius: 0.3rem;
}

.btn-primary {
  color: black;
  background-color: #068822;
  border-color: black;
}

@media screen and (max-width: 500px) {
  #card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "ipa" "negra" "roja"  "rubia";
  }
}

.history {
  text-align: center;
  font-size: 50px;
  margin: 40px;
  color: black;
}

.historia-andes {
  font-size: 25px;
  padding-top: 25px;
}

#grilla {
  padding-left: 50px;
}

.fabricaImg img {
  -webkit-box-shadow: 0px 0px 10px red;
          box-shadow: 0px 0px 10px red;
  border-radius: 10px;
}

.hotelImg img {
  -webkit-box-shadow: 0px 0px 10px red;
          box-shadow: 0px 0px 10px red;
  border-radius: 10px;
}

.tituloc {
  text-align: center;
  font-size: 40px;
  padding: 50px;
}

.subtituloc {
  text-align: center;
  font-size: 30px;
}

#estilosCervezas {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 100px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "imgipa imgnegra" "imgroja imgrubia";
}

#cervezas {
  font-size: 60px;
  text-align: center;
  color: black;
  padding: 80px;
  margin: 0;
  width: 1fr;
  height: 1fr;
}

.container {
  padding: 40px;
  text-align: center;
}

.bordeCervezas img {
  -webkit-box-shadow: 0px 0px 10px red;
          box-shadow: 0px 0px 10px red;
  border-radius: 10px;
}

#textoCerveza {
  font-size: 20px;
  text-align: center;
  margin: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 500px) {
  #estilosCervezas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "imgipa" "imgnegra" "imgroja"  "imgrubia";
  }
}

footer {
  text-decoration: none;
  list-style: none;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #646464;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.threecontainer {
  padding-top: 40px;
}

.logo_footer {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "facebook" "instagram" "twitter" "youtube";
  }
}
/*# sourceMappingURL=style.css.map */